body {
    margin: 0;
    padding: 0;
    color: white;

    background: radial-gradient(circle at center, #1a1a1a, #000 80%);
    text-align: center;
}

.mid{ /* logo i zakładka informacyjna - wyśrodkowanie */
    display: flex;
    justify-content: center;
    align-items: center;
}
#foto{ /* logo wersalików */
    width: 30%;
    height: 15%;

}
#info { /* główna zakładka informacyjna */
    display: flex;
    flex-direction: column; /* ustawia elementy pod sobą */
    align-items: center;     /* opcjonalnie wyśrodkowanie */
}

#linki {
    display: flex;
    flex-direction: column; /* jeden pod drugim */
    gap: 12px;
    max-width: 300px;
    margin: 20px auto;
    width: 300px;
}

.link-item a {
    display: block;
    padding: 12px;
    text-align: center;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.link-item a i {
    margin-right: 8px;
}

.link-item a:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #5a0fb0, #1f63d1);
}

.container { /* zawiera linki do yt*/
    display: flex;            /* włącza flexbox */
    justify-content: center;  /* wyrównuje divy na środku poziomo */
    gap: 20px;                /* odstęp między divami */
    flex-wrap: wrap;          /* zawijanie na małych ekranach */
}

#frame {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.link_yt {
    width: 300px;              /* stała szerokość, łatwo kontrolować */
    height: 200px;             /* większa wysokość, żeby wszystko się zmieściło */
    background: #111827;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.link_yt:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.7);
}

.kawa{
    margin-top: 3%;
    margin-bottom: 1%;
}

/* RESPONSYWNOŚĆ NA TELEFONY*/

/* ===== TABLET ===== */
@media (max-width: 1024px) {

    #foto{
        width: 25%;
        height: auto;
    }

    .link_yt{
        width: 100%;
    }


    .iframe{
        width: 100%;
    }
    .kawa{
        width: 100%;
    }
}
/* ===== TELEFON ===== */
@media (max-width: 768px) {

    #foto{
        width: 40%;
        height: auto;
    }

    .container{
        flex-direction: column;
        align-items: center;
    }

    .link_yt{
        width: 80%;
    }

    .iframe{
        width: 90%;
    }
    .kawa{
        width: 100%;
    }
}
/* ===== MAŁY TELEFON ===== */
@media (max-width: 480px) {

    #foto{
        width: 55%;
    }

    .link_yt{
        width: 80%;
    }

    .iframe{
        width: 90%;
    }
    .kawa{
        width: 100%;
    }
}